body {
    background: url('img/bg-cosmic.jpg');
    background-size: cover;
    background-attachment: scroll;

    background-repeat: no-repeat;
 

    font-family: 'Lato', sans-serif;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

h2 {
    margin-bottom: 2%;
}

#header {
    width: 30%;
    height: 80px;

    margin-left: auto;
    margin-right: auto;


    color: #fff;
    font-size: 20px;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 2px #000;

    -webkit-transform: rotate(-5deg);

    -ms-transform: rotate(-5deg);

    transform: rotate(-5deg);
}

#header:hover {
    color: #000;
    text-shadow: 2px 2px #fff;
}

#content-container {
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 99%;

    margin-left: auto;
    margin-right: auto;
}

#name-input {
    margin-top: 5%;
}

.quiz-title {}

.question-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    width: 60%;
}

.question {
    margin: 0 auto 4% auto;
}

.question-content {
    margin-bottom: 1%;

    text-align: center;
}

.answers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    border: none;
    color: white;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 4px;
    margin: 0 1%;

}

.answer:hover {
    opacity: 0.5;
}

.correct {}

.points-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    margin: 1% auto;
}

.bottom-buttons {
    background-color: silver;
    border: none;
    color: #000;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#name-form {
    margin-top: 5%;
}

input[type="text"] {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    margin: 10% auto 5% auto;
}

button[type="submit"] {
    background-color: green;
    border: none;
    color: #000;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 auto;
}

button[type="submit"]:hover {
    opacity: 0.5;
}

.bottom-buttons:hover {
    font-weight: bold;
}

.check-points {
    margin: 1% 0;
}

.points {
    margin: 1% auto;
}

.show-answers {
    margin: 1% 0;
}

.clear {
    margin: 1% 0;
}

.selected {
    border: 2px solid yellow;
}

.show-correct {
    background-color: #006633;
    font-weight: bold;
    -webkit-transition: background-color 3s;
    -o-transition: background-color 3s;
    transition: background-color 3s;
}

.show-incorrect {
    background-color: #993333;
    text-decoration: line-through;
    -webkit-transition: background-color 3s;
    -o-transition: background-color 3s;
    transition: background-color 3s;
}

.hide {
    display: none;
}

.show {
    display: block;

    font-size: 30px;
    text-align: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;

    height: 150px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.fa-horse {
    color: #ff3399;
}

/* animacja planety */

@-webkit-keyframes rotate-planet {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-planet {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#earth {
    position: absolute;
    z-index: 1;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;


    -webkit-animation: rotate-planet 10s infinite linear;
    animation: rotate-planet 10s infinite linear;
}